{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-4 overflow-auto" style="display: flex;">
            <form action="." method="post" id="form">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <label for="">Feature Weighting (Must add up to one)</label>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title Similarity</label>
                                <input type="text" name="title-similarity" class="form-control"
                                    id="exampleFormControlInput1" value=0.3 required></input>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">Sentence Position</label>
                                <input type="text" name="sentence-position" class="form-control"
                                    id="exampleFormControlInput1" value=0.3 required></input>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">TF-IDF</label>
                                <input type="text" name="tfidf" class="form-control" id="exampleFormControlInput1"
                                    value=0.15 required></input>
                            </div>
                            <fieldset disabled>
                                <div class="form-group">
                                    <label for="disabledTextInput">Coverage(In future)</label>
                                    <input type="text" name="coverage" id="disabledTextInput" class="form-control"
                                        placeholder="Disabled">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Sentence Length</label>
                                <input type="text" name="sentence-length" class="form-control"
                                    id="exampleFormControlInput1" value=0.25 required></input>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">NER</label>
                                <input type="text" name="ner" class="form-control" id="exampleFormControlInput1"
                                    value=0.0 required></input>
                            </div>
                            <fieldset disabled>
                                <div class="form-group">
                                    <label for="disabledTextInput">Coherence(In future)</label>
                                    <input type="text" name="coherence" id="disabledTextInput" class="form-control"
                                        placeholder="Disabled">
                                </div>

                                <div class="form-group">
                                    <label for="disabledTextInput">Readability(In future)</label>
                                    <input type="text" name="readability" id="disabledTextInput" class="form-control"
                                        placeholder="Disabled">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <label for="">Genetic Algorithm parameters</label>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Population Size</label>
                                <input type="text" name="population-size" class="form-control"
                                    id="exampleFormControlInput1" value=100 required></input>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Mutation Rate</label>
                                <input type="text" name="mutation-rate" class="form-control"
                                    id="exampleFormControlInput1" value=0.06 required></input>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Crossover Rate</label>
                                <input type="text" name="crossover-rate" class="form-control"
                                    id="exampleFormControlInput1" value=1.0 required></input>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Iteration Count</label>
                                <input type="text" name="iteration-count" class="form-control"
                                    id="exampleFormControlInput1" value=25 required></input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect2">Parent Selection Method</label>
                    <select multiple class="form-control" name="selection-method" id="exampleFormControlSelect2">
                        <option selected>Rank Space</option>
                        <option>Roulette Wheel</option>
                        <option>Tournament</option>
                        <option>Random</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Elitist</label>
                    <select class="form-control" name="elitist" id="exampleFormControlSelect1">
                        <option selected>True</option>
                        <option>False</option>
                    </select>
                </div>

        </div>
        <div class="col-8">

            <div class="form-group">
                <label for="exampleFormControlInput1">Title (If present)</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1"
                    value={% if input %}"{{title}}"{% else %}"Metin ve Paragraf"{% endif %}></input>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Input</label>
                <textarea class="form-control" name="input" id="exampleFormControlTextarea1" rows="10">{% if input %}{{input}}{% else %}    Bir yazıyı şekil, anlatım ve noktalama özellikleriyle oluşturan kelimelerin bütününe metin adı verilir. Diğer bir ifadeyle metin, iletişim kurmak için oluşturulan cümleler topluluğudur. Sözlü ya da yazılı iletişim için üretilen anlamlı yapıdır. Yazar, iletmek istediği mesajı metin aracılığıyla ifade eder.

    Bir metin, aralarında anlam, anlatım bakımından ilişki ve bütünlük bulunan paragraflardan oluşur. İyi kurgulanmış bir metinde, her paragraf bir düşünce birimidir. Metindeki paragraf sayısı, o metnin içerdiği düşünce sayısını verir. Bunun nedeniyse her düşüncenin bir paragrafta tam olarak ortaya konmasıdır. Sözcükler seslerden, cümleler sözcüklerden, paragraflar ise cümlelerden oluşur.

    Metni oluşturan en büyük yapı paragraftır. Düzyazılarda genellikle satır başlarıyla birbirlerinden ayrılan bölümlerin her birine paragraf adı verilir. Paragrafın oluşumu konuyla doğrudan ilgilidir. Çünkü yazar, duygu ve düşüncelerini bir olay ve olgudan hareketle anlatır. Ele aldığı konuyu, amacına göre sınırlayıp birbiriyle ilintili paragraflar hâlinde verir. Bu, metin oluşturulurken uyulması gereken en önemli kurallardan biridir.

    Metindeki paragraflar, bir zincir şeklinde anlam, dil ve anlatım bakımından birbirini tamamlayan, destekleyen bir bütündür. Bu yapı özelliği sayesinde metinde anlamla yapı yönüyle bir bütünlük ve uyum ortaya çıkar. Bu bütünlüğün sağlanabilmesi adına metindeki paragrafların dil ve anlatım yönüyle birbirine bağlanması büyük bir önem taşır.

    Bir yapboz oluşturmak için parçaların birbirine bağlanmasına gereksinim duyulması gibi bir metin oluşturmak için de paragrafların birbirine bağlanması gerekir. Bir görüşün, bir duygunun işlendiği metinlerde de işlenen görüş ve duyguların birbirini destekleyecek paragraflar şeklinde, mantıksal bir sıra ile ele alınması gerekir. Örnek olarak olayın işlendiği metinlerde paragrafların zaman, kişi, çevre gibi öğelerin sırasına dikkat edilmesi gerekir. Buna dikkat edilmezse paragraflar arasında zaman, kişi, mekân vb. yönlerden karışıklıklar ortaya çıkar, metnin anlaşılması güçleşir.

    Bir metnin anlatım biçimi ve dil özelliklerinin temelinde metnin türü, içeriği, anlatımın amacı, okur kitlesinin düzeyi, özellikleri bulunur. Yazar, iletisini tam olarak verebilmek için metin yazarken bütün bunlara dikkat etmelidir. Bu amaca ulaşmak isteyen yazar, bir düşüncesini aktarırken ya da bir olayı okurun gözü önünde canlanacak şekilde anlatırken metne uygun olan anlatım tekniklerinden yararlanmalıdır. Örneğin hikâye ve roman yazarken olay (öyküleme), betimleme paragraflarından; düşünce yazılarında örneklendirme, tanık gösterme, tanımlama, karşılaştırma gibi anlatım yöntemlerinden yararlanmalıdır
    {% endif %}</textarea>
            </div>

            <label for="customRange3">Compression Rate</label>
            <br />

            <div class="d-flex justify-content-between">
                <label for="customRange3" class="float">%0</label>
                <label for="customRange3" class="float">%25</label>
                <label for="customRange3" class="float">%50</label>
                <label for="customRange3" class="float">%75</label>
                <label for="customRange3" class="float">%100</label>
            </div>
            <input type="range" class="custom-range" name="compression" min="0.0" max="1.0" step="0.25" list="tickmarks"
                id="customRange3" />
            <datalist id="tickmarks">
                <option value="1" label="0%"></option>
                <option value="0.75" label="25%"></option>
                <option value="0.5" label="50%"></option>
                <option value="0.25" label="75%"></option>
                <option value="0.1" label="100%"></option>
            </datalist>
            <br>

            <button type="submit" class="btn btn-primary mt-3">Summarize</button>

            {% if summary %}
            <div class="form-group mt-1">
                {% if compression %}
                <label for="exampleFormControlTextarea1">Summary (%{{compression}} compression)</label>{% endif %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10">{{summary}}</textarea>
            </div>
            {% endif %}

            {% if infos %}
            <div class="form-group mt-1">
                <label for="exampleFormControlTextarea1">Summary Info</label>
                {% for info in infos %}
                <p class="lead"> {{ info }} </p>
                {% endfor %}
            </div>
            {% endif %}

            </form>

        </div>
    </div>
</div>
<script>
    var x = document.getElementById("customRange3");
    x.defaultValue = 0.75;
</script>
{% endblock content %}